{% extends 'layout.html' %} {% load static %} {% block title %}
    <title>Home</title>
{% endblock title %}


{% block main_content %}
    <section id="featured-box">
        <div class="container my-5">
            <div class="intro">
                <h1 class="display-2 fw-semibold py-4 ">Browse Catalog</h1>
            </div>
            <div class="row">

                {% for i in category %}
                
                <div class="card col-md-3 ms-4">

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img src="{{i.picture.url}}" class="img-fluid" width="100px" height="100px"/>
                      <a href="/product/filter/?category={{i.id}}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                      </a>
                    </div>
                  
                    <div class="card-body ps-1">
                      <h5 class="card-title fw-bolder fs-3">{{i.name}}</h5>
                  
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock main_content %}