{% extends 'layout.html' %} {% load static %} {% block title %}
    <title>Category</title>
{% endblock title %}


{% block main_content %}
    <section id="featured-box">
        <div class="container-xl my-5">
            <div class="intro">
                <h1 class="display-4 fw-semibold py-4 fw-bold text-black">Browse Catalog</h1>
            </div>
            <div class="row row-cols-md-3  gx-5  gy-4 row-cols-2  row-cols-lg-4 ">

                {% for i in category %}
                  
                <div class="col">
                  <div class="card    ">
 
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <img src="{{i.picture.url}}" class="img-fluid"  style="object-fit: cover; aspect-ratio:1/1"/>
                      <a href="/product/filter/?category={{i.id}}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                      </a>
                    </div>
                  
                    <div class="card-body ps-1">
                      <h5 class="card-title fw-bolder fs-3">{{i.name}}</h5>
                  
                    </div>
                  </div>

                </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock main_content %}
