{% extends 'layout.html' %} {% load static %} {% block title %}
    <title>Home</title>
{% endblock title %}

{% block main_content %}
    <section class="py-5 bg-light">
        <h1 class="text-center text-success" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;">
            FAQ</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                >
                                    How to use Megaplex?
                                </button>
                            </h2>
                            <div
                                    id="collapseOne"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne"
                                    data-mdb-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                    To use a megaplex you should have your <strong>"USERNAME and PASSWORD"</strong>
                                    To get a username and password at first you have to sign up with details mention in register dashboard,
                                    or you may also sign up with your Facebook and Google account.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                >
                                    Sign Up to Megaplex...
                                </button>
                            </h2>
                            <div
                                    id="collapseTwo"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo"
                                    data-mdb-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                    Click on Sign In button, you can create your <strong>"Individual or Organization"</strong> account
                                    or you may also register with your Facebook and Google account.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo"
                                >
                                    How to get Membership?
                                </button>
                            </h2>
                            <div
                                    id="collapseTwo"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo"
                                    data-mdb-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                    To register with Megaplex as an Organization seller,
                                    Sign up as an <strong>Organization Account </strong>and SMS “Megaplex” space “Name”
                                    to  <strong>9898776546</strong> now! Or Visit Our office in Kathmandu Nepal.
                                    Send mail with your full details on <strong>teamhmv2@gmail.com.</strong>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree"
                                >
                                    How to buy products?
                                </button>
                            </h2>
                            <div
                                    id="collapseThree"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingThree"
                                    data-mdb-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                    Find the product you want to buy, and add it to your shopping cart.
                                    After adding the item to the shopping cart, click on check out to proceed to pay.
                                    When you click to check out, you'll see the 'proceed to payment option. Y
                                    ou can pay your amount through e-banking or cash on delivery.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}