{% extends 'layout.html' %} {% load static %} {% block title %}
    <title>Home</title>
{% endblock title %} {% block css_files %}
    <link rel="stylesheet" href="{% static '/css/homepage.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/main.css' %}"/>

{% endblock css_files %}

{% block main_content %}
    <section class="container-fluid search-section position-relative theme-color  overflow-hidden">
        <div class="content-search m-auto relative">
            <p class="display-6 bolder w-100 text-center">
                fashion,Household,Real state, services and many more
            </p>
            <form class="d-flex w-100 m-auto flex-column flex-md-row">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-dark" type="submit">Search</button>
            </form>

            <div class="circles position-absolute d-flex top-0">
                <div class="circle-one circle"></div>
                <div class="circle-two circle"></div>
                <div class="circle-three circle"></div>
                <div class="circle-four circle"></div>
            </div>
        </div>

        <div class="smallbox mt-5 d-flex flex-column gap-5 flex-md-row justify-content-md-center m-auto pt-md-5">
            <div class="smallcard d-flex gap-1 gap-md-4 align-items-center">
            <span class="smallcard-img border-15 rounded-pill p-1 shadow">
                <img src="{% static 'images/gift.gif' %}" alt="" class="w-100 rounded-pill"/></span>
                <div class="small-box-text">
                    <p class="text-nowrap">
                        Automobiles
{#                        <span class="badge bg-warning text-dark">New</span>#}
                    </p>
                </div>
            </div>

            <div class="smallcard d-flex align-items-center gap-1 gap-md-4">
            <span class="smallcard-img border-1 p-1 shadow-sm rounded-pill"><img src="{% static 'images/gift.gif' %}" alt=""
                                                              class="w-100 rounded-pill"/></span>
                <div class="small-box-text">
                    <p class="text-nowrap">
                        Smartphones
{#                        <span class="badge bg-warning text-dark">New</span>#}
                    </p>
                </div>
            </div>

            <div class="smallcard d-flex align-items-center gap-1 gap-md-4">
                <span class="smallcard-img border-1 p-1 shadow-sm rounded-pill"><img src="{% static 'images/gift.gif' %}" alt=""
                                                              class="w-100 rounded-pill"/></span>
                <div class="small-box-text gap-0">
                    <p class="text-nowrap">
                        Fashions
{#                        <span class="badge bg-warning text-dark">New</span>#}
                    </p>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-2 flex-column flex-md-row">
            <div class="w-100 shadow m-4 border-15 ">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title display-6 f-bold m-3">I want to buy</h5>
                        <h4 class="display-6 f-bold m-3">🛒</h4>
                    </div>
                    <button class="btn btn-primary ms-3 w-40">Find an item</button>

                </div>
            </div>
            <div class="card w-100 shadow m-4 border-15">
                <div class="card-body">
                     <div class="d-flex justify-content-between">
                        <h5 class="card-title display-6 f-bold m-3">I want to sell</h5>
                        <h4 class="display-6 f-bold m-3">🏷️</h4>
                    </div>
                    <button class="btn btn-danger ms-3 w-40">List my items</button>
                </div>
            </div>
        </div>

    </section>

    <section class="container-fluid theme-color">
        <div class="ps-md-5 pe-md-5 theme-bg card-section rounded-4 m-4">
            <div class="section-title mb-5">
                <p class="text-center display-3 fw-bold text-danger">Trending products</p>

            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill w-100 buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" fs-5 text-centre">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box col">
                    <div class="card border ">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                                <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="m-3">
                            <strong class=" m-1 fs-5 text-center">Amazing card design</strong>

                            <div class="d-flex justify-content-between">
                                <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                                <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                            </div>
                            <hr class="dropdown-divider">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                                <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <p class="text-center">
                <a class="text-decoration-none fs-4" href="/">Show more <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
            </p>
        </div>
    </section>

    <section class="container-fluid rounded-4 mt-5 pt-5 theme-color">
        <div class="ps-md-5 pe-md-5 theme-bg card-section rounded-4">
            <div class="section-title d-flex justify-content-between">
                <h4>Hot collection</h4>
                <a href="" class="text-decoration-none d-flex gap-2 align-items-center">view more<i
                        class="fas fa-ellipsis-h"></i></a>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="box col">
                    <div class="card">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/animated-art-3.jpg' %}" alt=""
                                 class="collection-lg-img rounded-4"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute collection-love-icon  "><i
                                        class="fas fa-heart"></i></span>
                                <a class="
                  btn
                  position-absolute
                  btn-primary
                  rounded-pill
                  collection-buyNow-btn
                  r-paragraph
                ">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="card-img-bottom row row-cols-3 w-100 m-0 p-0">
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt="" class="collection-sm-img  rounded-3"/>
                            </div>
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt=""
                                     class="collection-sm-img d-block rounded-3"/>
                            </div>
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt=""
                                     class="collection-sm-img col rounded-3"/>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-user-img">
                                <img src="{% static 'images/Darth.jpg' %}" alt="" class="img-circle"/>
                            </div>
                            <span class="text-nowrap r-paragraph">from john</span>
                        </div>
                    </div>
                </div>


                <div class="box col">
                    <div class="card">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/animated-art-1.jpg' %}" alt=""
                                 class="collection-lg-img rounded-4"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute collection-love-icon  "><i
                                        class="fas fa-heart"></i></span>
                                <a class="
                  btn
                  position-absolute
                  btn-primary
                  rounded-pill
                  collection-buyNow-btn
                  r-paragraph
                ">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="row row-cols-3 m-0 p-0">
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt="" class="collection-sm-img rounded-3"/>
                            </div>
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt=""
                                     class="collection-sm-img col rounded-3"/>
                            </div>
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt=""
                                     class="collection-sm-img col rounded-3"/>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-user-img">
                                <img src="{% static 'images/Darth.jpg' %}" alt="" class="img-circle"/>
                            </div>
                            <span class="text-nowrap r-paragraph">from john</span>
                        </div>
                    </div>
                </div>


                <div class="box col">
                    <div class="card">
                        <div class="card-img-top position-relative">
                            <img src="{% static 'images/animated-art-2.jpg' %}" alt=""
                                 class="collection-lg-img rounded-4"/>

                            <div class="card-head position-absolute w-100 h-100 top-0">
                                <span class="position-absolute collection-love-icon  "><i
                                        class="fas fa-heart"></i></span>
                                <a class="
                  btn
                  position-absolute
                  btn-primary
                  rounded-pill
                  collection-buyNow-btn
                  r-paragraph
                ">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                        <div class="card-img-bottom row row-cols-3 w-100 m-0 p-0">
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt=""
                                     class="collection-sm-img col rounded-3"/>
                            </div>
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt=""
                                     class="collection-sm-img col d-block rounded-3"/>
                            </div>
                            <div class="col p-1">
                                <img src="{% static 'images/Darth.jpg' %}" alt=""
                                     class="collection-sm-img col rounded-3"/>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-user-img">
                                <img src="{% static 'images/Darth.jpg' %}" alt="" class="img-circle"/>
                            </div>
                            <span class="text-nowrap r-paragraph">from john</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
{% block js_files %}{% endblock js_files %}