@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --primary-color: #553afc;
  --secondary-color: black;
  --primary-light: #fafafa;

  --primary-shadow: rgba(69, 169, 225, 0.37);
  --theme-bg-color: #ffffff;
  --theme-color: black;
  --theme-bg: #ffffff;
  --theme-bg-secondary: rgba(103, 74, 74, 0.08);
  --inactive-color: #333333;
  --btn-bg: rgba(255, 255, 255, 0.28);
  --btn-border: none;
  --card-bg: rgb(255 255 255 / 31%);
  --shadow:rgba(0, 0, 0, 0.15);
  --text-black-50:rgba(0, 0, 0, 0.5);
  --text-color-50:rgba(0, 0, 0, 0.5);
  --card-blackbg: white;



  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ===============changes============================ */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--theme-bg);
}

.Dark-mode {
  --theme-bg: black;
  --inactive-color: rgb(249 250 251 / 55%);
  --theme-color: #ffffff;
  --btn-bg: transparent;
  --btn-border: 0.7px solid white;
  --card-bg: rgba(16 18 27 / 40%) ;
  --shadow:rgba(31, 38, 135, 0.25);
  --card-blackbg: black;
  --text-black-50:rgba(255, 255, 255, 0.5);
  --text-color-50: white;
  
}

.bg_fix{
  background-color: var(--card-blackbg) !important;
}

/* ===============responsive-text================ */
.text-white{
  color: var(--theme-color);
}
.text-color-50{
  color: var(--text-color-50) !important;
}
.text-black-50{
  color: var(--text-black-50) !important;
}
.text-black-50.active{
  color: var(--primary-color) !important;
}

.text-dark{
  color: var(--inactive-color) !important;
}
.card{
  background-color: var(--card-bg) !important;
  /* box-shadow: 0 20px 32px -20px rgba(31, 38, 135, 0.25) !important; */

}

.bg-white{
  background-color: var(--card-bg) !important ;

}

.text-black{
  color: var(--theme-color) !important;
}

.r-title {
  font-size: min(2.4vw, 30px);
}

.text-primary {
  color: var(--primary-color) !important;
}

.theme-color {
  color: var(--theme-color) !important;
}

.inactive-color {
  color: var(--inactive-color) !important;
}

.text-primary {
  color: #553afc !important;
}

.bg-primary {
  color: #4460f1 !important;
}

img {
  display: block;
  width: 100%;
}

.bolder {
  font-weight: 800;
}

.theme-bg {
  /*background-color: var(--theme-bg-secondary);*/
  box-shadow: 0 20px 32px -20px rgba(31, 38, 135, 0.25);
}

.shadow{
  box-shadow: 0 0.5rem 1rem var(--shadow) !important;
}
.card-bg {
  background-color: var(--theme-bg-secondary);
}

.border-15 {
  border-radius: 15px;
}

.w-40 {
  width: 45%;
}

.mt-6 {
  padding-top: 90px;
}

.M-logo {
  background-image: linear-gradient(to right,
      #6a11cb 0%,
      #2575fc 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text;
  background-size: cover !important;
  color: transparent;
}

/*#featured-box {*/
/*    background: #FBFAFB;*/
/*}*/

.country-card {
  max-width: 400px;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}

.country-card img {
  transition: all linear 0.25s;
}

.country-card .country-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 30px;
  color: #FFF;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}

.country-card .profile-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #FFF;
  transition: all linear 0.25s;
}

.country-card .desc {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #FFF;
  font-size: 13px;
  transition: all linear 0.25s;
}

.country-card .profile-icons .fa {
  margin: 5px;
}

.country-card:hover img {
  filter: grayscale(100%);
}

.country-card:hover .country-name {
  bottom: 80px;
  ;
}

.country-card:hover .desc {
  bottom: 60px;
}

.country-card:hover .profile-icons {
  right: 40px;
}

a.unlink {
  color: inherit;
}

a.unlink:hover {
  color: inherit;
}