.toggle-icon {
  right: calc(3.5rem + 2.5vw);
  font-size: calc(1rem + 1vw);
}
.nav-link{
  font-weight: 600;
}

@media screen and (min-width: 998px) {
  .sign-in {
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0px 4px 25px var(--primary-shadow);
    width: calc(90px + 1vw);
    margin-right: calc(30px + 1vw);
  }
  .toggle-icon {
    right: 0;
    font-size: calc(1rem + 1vw);
  }
}
