{% extends 'layout.html' %} {% load static %} {% load extras %} {% block title %}
<title>{{product.name}}</title>{% endblock title %}




{% block main_content %}

<div class="container text-center ">
    <div class="row m-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner border-15">
                <div class="carousel-item active">
                    <img src="{{product.image1.url}}" class="d-block w-100" alt="Product Image 1"
                        style="object-fit: cover; aspect-ratio: 1/0.44;" />
                </div>
                <div class="carousel-item">
                    <img src="{{product.image2.url}}" class="d-block w-100" alt="Product Image 2"
                        style="object-fit: cover; aspect-ratio: 1/0.44;" />
                </div>
                <div class="carousel-item">
                    <img src="{{product.image3.url}}" class="d-block w-100" alt="Product Image 3"
                        style="object-fit: cover; aspect-ratio: 1/0.44;" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div>
            <div class="row mt-3">
                <div class="col-lg-8 text-center text-lg-start">
                    <div class="d-flex justify-content-between">
                        <h3 class="fs-2 lh-1 mt-1">{{product.name}}</h2>
                            <h3 class="border border-15 text-danger p-2">Rs. {{product.price}}</h3>
                    </div>

                    <div class="d-flex">
                        <a tabindex="0" class="btn btn-primary" role="button" data-mdb-toggle="popover"
                            data-mdb-trigger="focus" data-mdb-content="You can connect with the seller right away!">Free
                            to message</a>
                        <h6 class="mt-2 ms-3">Listed on {{product.date}}</h6>
                    </div>
                    <hr>
                    <div>
                        <h4 class="mb-3">Our Commitment</h4>
                        <div class="d-flex gap-2">
                            <button type="button"
                                class="btn btn-outline-dark btn-rounded responsive-text text-center w-25"
                                data-mdb-ripple-color="dark">
                                Live chat <i class="fa fa-comment" aria-hidden="true"></i>
                            </button>
                            <button type="button"
                                class="btn btn-outline-dark btn-rounded  responsive-text text-center w-25"
                                data-mdb-ripple-color="dark">
                                Refund policy <i class="fa fa-surprise" aria-hidden="true"></i>
                            </button>
                            <button type="button"
                                class="btn btn-outline-dark btn-rounded  responsive-text text-center w-25"
                                data-mdb-ripple-color="dark">
                                Authorized Seller <i class="fa fa-shield" aria-hidden="true"></i>
                            </button>
                            <button type="button"
                                class="btn btn-outline-dark btn-rounded  responsive-text text-center w-25"
                                data-mdb-ripple-color="dark">
                                Gurenteed product <i class="fa fa-map-marker-check" aria-hidden="true"></i>
                            </button>

                        </div>
                    </div>
                    <hr>
                    <h4>Specification</h4>
                    <div class="d-flex text-muted pt-2 justify-content-between">
                        <p class="fs-5"><i class="fa fa-compass" aria-hidden="true"></i> <strong>
                                Brand:</strong> {{product.brand}}</p>

                        <p class="fs-5"><i class="fa fa-clone" aria-hidden="true"></i> <strong>
                                Category:</strong> {{product.category}}</p>
                        <p class="fs-5"><i class="fa fa-pencil" aria-hidden="true"></i> <strong>
                                Color:</strong> {{product.color}}</p>


                    </div>
                    <div class="d-flex text-muted pt-2 justify-content-between">
                        <p class="fs-5"><i class="fa fa-certificate" aria-hidden="true"></i> <strong>
                                Warrenty:</strong> {{product.warranty}}</p>
                        <h3><span class="badge bg-danger text-white">Quantity: {{product.quantity}}</i></span></h3>

                    </div>

                    <hr>
                    <div>
                        <h4>Description</h4>
                        <p>{{product.description}}
                        </p>
                    </div>
                    <hr>
                    <h4>Product Details Section</h4>
                    <div class="row">
                        <p>{{product.specifications}}</p>
                    </div>

                    <hr>

                    <div class="col-md-10 col-lg-8 col-xl-6 w-100">
                        <div class="card border-15">
                            <div class="card-body">
                                <div class="d-flex flex-start w-100">

                                    <div class="w-100">
                                        <h5>Post your speak!</h5>

                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="productSno" value="{{product.id}}">
                                            <input type="hidden" name="formType" value="comment">
                                            <input type="hidden" name="commentSno" value="">
                                            <textarea class="form-control" id="comment" name='comment'
                                                placeholder="What is your view?" rows="4"></textarea>

                                            <div class="d-flex justify-content-between mt-3 gap-1">
                                                <p class=" text-nowrap">Comment can be viewed below!</p>
                                                <button type="submit" class="btn btn-danger text-nowrap">Send<i
                                                        class="fas fa-long-arrow-alt-right ms-1"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <h5 class="mt-2 text-decoration-underline">Recent Comments</h5>
                                        <h6 class="text-small">{{count}} comments</h6>
                                        {% for c in comments %}
                                        <div class="col-md-12 col-lg-10 col-xl-8 w-100">
                                            <div class="card border-15 ">
                                                <div class="card-body">
                                                    <div class="d-flex flex-start flex-column align-items-center mb-3  justify-content-between">
                                                        <div class="d-flex justify-content-between w-100 align-items-center mb-1">
                                                            <div class="d-flex align-items-center gap-2">
                                                                <img src="{{c.user.profile.profile_pic.url}}" alt="User"
                                                                    style="vertical-align: middle; width: 35px;height: 35px;border-radius: 50%;">
                                                                <h6
                                                                    class="d-flex align-items-center gap-2 fw-bold text-primary mb-1">
                                                                    {{c.user.first_name}} {{c.user.last_name}}</h6>
                                                            </div>

                                                            {% if request.user == c.user %}

                                                            <div class="dropdown">
                                                                <button class="border-0 bg-transparent" type="button"
                                                                    id="dropdownMenuButton1" data-mdb-toggle="dropdown"
                                                                    aria-expanded="false">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <ul class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton1">
                                                                    <li><a class="dropdown-item " href="#"><i
                                                                                class="fas fa-edit me-2"></i>
                                                                            Edit</a>
                                                                    </li>
                                                                    <li><a class="dropdown-item" href="#"><i
                                                                                class="fas fa-trash me-2"></i>
                                                                            Delete</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i
                                                                                class="fas fa-flag me-2"></i>Report</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                          
                                                            {% endif %}

                                                        </div>
                                                        <p class="text-muted small mb-0 me-auto">
                                                            Shared publicly - {{c.timestamp}}
                                                        </p>
                                                    </div>

                                                    <p class="mt-3 mb-2 pb-2 text-start">
                                                        {{c.comment_text}}
                                                    </p>

                                                    <div class="d-flex justify-content-start">


                                                        {% if request.user in c.likes.all %}
                                                        <form action="/product/{{c.sno}}/comment_like" method="POST">
                                                            {% csrf_token %}
                                                            <button
                                                                class=" btn-thumb   border-0 bg-transparent text-primary"
                                                                type=" submit" data-new="{{c.sno}}" id="new"><i
                                                                    class="fas fa-thumbs-up   fs-6 me-2"></i>
                                                            </button>


                                                        </form>

                                                        {% else %}
                                                        <form action="/product/{{c.sno}}/comment_like" method="POST">
                                                            {% csrf_token %}
                                                            <button type=" submit" id="new"
                                                                class=" btn-thumb border-0 bg-transparent "
                                                                data-new="{{c.sno}}"><i
                                                                    class="fas fa-thumbs-up fs-6 me-2 "></i></button>

                                                        </form>
                                                        {% endif %}
                                                        <span class="like-count me-2 ">{{c.likes.all.count}}</span>
                                                        <p class="mb-0">Like</p>


                                                        <a class="d-flex align-items-center me-3 ms-2"
                                                            data-toggle="collapse" href="#replyBox{{c.sno}}"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="replyBox">
                                                            <i class="far fa-comment-dots me-2"></i>
                                                            <p class="mb-0">Reply</p>
                                                        </a>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                        <div class="collapse" id="replyBox{{c.sno}}">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="productSno" value="{{product.id}}">
                                                <input type="hidden" name="formType" value="comment">
                                                <input type="hidden" name="commentSno" value="{{c.sno}}">
                                                <textarea class="form-control" id="comment" name='comment'
                                                    placeholder="Post Reply" rows="4"></textarea>

                                                <div class="d-flex justify-content-between mt-3 gap-1">
                                                    <button type="submit" class="btn btn-danger text-nowrap">Send<i
                                                            class="fas fa-long-arrow-alt-right ms-1"></i></button>
                                                </div>
                                            </form>

                                        </div>
                                        <div>
                                            {% for c in reply|get_val:c.sno %}
                                            <div class="card-body ms-5 ">
                                                <div class="d-flex flex-start flex-column align-items-center mb-3">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <div class="d-flex gap-2">
                                                            <img src="{{c.user.profile.profile_pic.url}}" alt="User"
                                                                style="vertical-align: middle; width: 30px;height: 30px;border-radius: 50%;">
                                                            <h6
                                                                class="d-flex align-items-center gap-2 fw-bold text-primary mb-1">
                                                                {{c.user.first_name}} {{c.user.last_name}}</h6>
                                                        </div>

                                                        {% if request.user == c.user %}

                                                            <div class="dropdown">
                                                                <button class="border-0 bg-transparent" type="button"
                                                                    id="dropdownMenuButton1" data-mdb-toggle="dropdown"
                                                                    aria-expanded="false">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <ul class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton1">
                                                                    <li><a class="dropdown-item " href="#"><i
                                                                                class="fas fa-edit me-2"></i>
                                                                            Edit</a>
                                                                    </li>
                                                                    <li><a class="dropdown-item" href="#"><i
                                                                                class="fas fa-trash me-2"></i>
                                                                            Delete</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i
                                                                                class="fas fa-flag me-2"></i>Report</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                          
                                                            {% endif %}
                                                       
                                                    </div>
                                                    <p class="text-muted small mb-0 me-auto mt-1">
                                                            Shared publicly - {{c.timestamp}}
                                                    </p>


                                                </div>

                                                <p class="mt-3 mb-2 pb-2 text-start">
                                                    {{c.comment_text}}
                                                </p>

                                                <div class="d-flex justify-content-start">


                                                    {% if request.user in c.likes.all %}
                                                    <form action="/product/{{c.sno}}/comment_like" method="POST">
                                                        {% csrf_token %}
                                                        <button class=" btn-thumb   border-0 bg-transparent"
                                                            type=" submit" data-new="{{c.sno}}" id="new"><i
                                                                class="fas fa-thumbs-up text-primary  fs-6 me-2"></i>
                                                        </button>


                                                    </form>

                                                    {% else %}
                                                    <form action="/product/{{c.sno}}/comment_like" method="POST">
                                                        {% csrf_token %}
                                                        <button type=" submit" id="new"
                                                            class=" btn-thumb border-0 bg-transparent"
                                                            data-new="{{c.sno}}"><i
                                                                class="fas fa-thumbs-up fs-6 me-2 "></i></button>

                                                    </form>
                                                    {% endif %}
                                                    <span class="like-count me-2 ">{{c.likes.all.count}}</span>
                                                    <p class="mb-0">Like</p>



                                                </div>
                                            </div>

                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>



                </div>
                <div class="col-md-10 mx-auto col-lg-4 mt-md-0">
                    <div class="p-md-3 rounded-5 border">
                        <div class="d-flex justify-content-between  mt-3 mb-3 ">
                            <img class="img-fluid rounded-circle w-25" src="/static/images/animated-art-1.jpg" alt="">
                            <div class="d-flex flex-column text-center">
                                <h5 class="fw-bold">{{product.seller.first_name}} {{product.seller.last_name}}</h5>
                                <h6><i class="fa fa-map-marker" aria-hidden="true"></i> Kathmandu</h6>
                                <input type="hidden" name="to_user" id="to_user" value="{{product.seller}}">
                                <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">
                                    🟢 AVAILABLE NOW
                                </button>

                            </div>
                        </div>
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="to_user" id="to_user" value="{{product.seller}}">
                            <input type="hidden" name="formType" value="message">
                            <textarea class="form-control" id="body" rows="4" , name="body"></textarea>
                            <label class="form-label" for="textAreaExample">Message</label>
                            {% if user.is_authenticated and  user != product.seller %}
                            <button type="submit" class="btn btn-success w-100 mt-2">Send free message</button>
                            {% else %}
                            <button type="submit" class="btn btn-success w-100 mt-2" disabled>Send free message</button>
                            {% if user == product.seller%}
                            <p class="text-muted"> You cannot send message to self</p>
                            {% else %}
                            <p class="text-muted"> Please login to send message</p>
                            {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr>
    <div class="">
        <div class="section-title mb-2">
            <p class="text-center fs-3 fw-bold text-danger">You may like</p>

        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
            <div class="box col">
                <div class="card border ">
                    <div class="card-img-top position-relative">
                        <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3" />

                        <div class="card-head position-absolute w-100 h-100 top-0">
                            <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                            <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                Buy Now
                            </a>
                        </div>
                    </div>
                    <div class="m-3">
                        <strong class=" fs-5 text-centre">Amazing card design</strong>

                        <div class="d-flex justify-content-between">
                            <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                            <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                        </div>
                        <hr class="dropdown-divider">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                            <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box col">
                <div class="card border ">
                    <div class="card-img-top position-relative">
                        <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3" />

                        <div class="card-head position-absolute w-100 h-100 top-0">
                            <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                            <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                Buy Now
                            </a>
                        </div>
                    </div>
                    <div class="m-3">
                        <strong class=" fs-5 text-centre">Amazing card design</strong>

                        <div class="d-flex justify-content-between">
                            <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                            <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                        </div>
                        <hr class="dropdown-divider">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                            <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box col">
                <div class="card border ">
                    <div class="card-img-top position-relative">
                        <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3" />

                        <div class="card-head position-absolute w-100 h-100 top-0">
                            <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                            <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                Buy Now
                            </a>
                        </div>
                    </div>
                    <div class="m-3">
                        <strong class=" fs-5 text-centre">Amazing card design</strong>

                        <div class="d-flex justify-content-between">
                            <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                            <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                        </div>
                        <hr class="dropdown-divider">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                            <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box col">
                <div class="card border ">
                    <div class="card-img-top position-relative">
                        <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3" />

                        <div class="card-head position-absolute w-100 h-100 top-0">
                            <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                            <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                Buy Now
                            </a>
                        </div>
                    </div>
                    <div class="m-3">
                        <strong class=" fs-5 text-centre">Amazing card design</strong>

                        <div class="d-flex justify-content-between">
                            <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                            <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                        </div>
                        <hr class="dropdown-divider">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                            <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box col">
                <div class="card border ">
                    <div class="card-img-top position-relative">
                        <img src="{% static 'images/circle-neon.jpg' %}" alt="" class="card-image rounded-3" />

                        <div class="card-head position-absolute w-100 h-100 top-0">
                            <span class="position-absolute love-icon "><i class="fas fa-heart"></i></span>
                            <a class="btn position-absolute btn-primary rounded-pill buyNow-btn r-paragraph">
                                Buy Now
                            </a>
                        </div>
                    </div>
                    <div class="m-3">
                        <strong class=" fs-5 text-centre">Amazing card design</strong>

                        <div class="d-flex justify-content-between">
                            <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                            <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>

                        </div>
                        <hr class="dropdown-divider">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-nowrap r-paragraph">Seller: Bimal</span>
                            <span class="text-nowrap r-paragraph">12 Nov, 2021</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





{% endblock main_content %}

{% block js_files %}
<script src="{% static 'javascript/like_toggle.js' %}"></script>
{% endblock js_files %}