{% extends 'layout.html' %} {% load static %} {% block title %}
<title>Filter</title>{% endblock title %}

{% block main_content %}
<div class="container pt-5">
    <div class="row">
      <div class="col-md-8 order-md-2 col-lg-9">
        <div class="container-fluid">
          <div class=" d-flex justify-content-between">
            <li class="m-2">
              <h5>Search result for:</h5>
              <p><span class="badge bg-light text-black">Galaxy tv</span></p>
            </li>
              
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-filter" aria-hidden="true"></i> Sort by 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="#">Relevance</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Price High to Low</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Price Low to High</a>
                </li>
              </ul>
            </li>
            <li>
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search..."
                aria-label="Search" />
              </div>
            </li>
          </div>
          <div class="row">
  
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-3">
              <div class="card border overflow-hidden border-15 mb-3">
                <div class="">
                  <img src="{% static 'images/animated-art-3.jpg' %}" alt="" height="280px" />
  
                </div>
                <div class="m-3">
                  <strong class="m-1 fs-5 text-center">Amazing card design</strong>
                  <div class="d-flex justify-content-between">
                    <span class="text-nowrap r-paragraph">⭐⭐⭐⭐⭐</span>
                    <strong class="text-nowrap r-paragraph text-danger">NPR. 5000</strong>
                  </div>
                  <hr class="dropdown-divider" />
                  <div class="d-flex gap-2 align-items-center">
                    <a class="text-nowrap btn btn-primary"><i class="fas fa-pen-square"></i></a>
                    <a class="text-nowrap btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
  
              </div>
            </div>
  
  
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p>12 Results</p>
            </div>
            <div>
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
        <h3 class="mt-0 mb-5">Advance Filter</h3>
        <h6 class="text-uppercase font-weight-bold mb-3">Categories</h6>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="category-1">
            <label class="custom-control-label" for="category-1">Accessories</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="category-2">
            <label class="custom-control-label" for="category-2">Coats &amp; Jackets</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="category-3">
            <label class="custom-control-label" for="category-3">Hoodies &amp; Sweatshirts</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="category-4">
            <label class="custom-control-label" for="category-4">Jeans</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="category-5">
            <label class="custom-control-label" for="category-5">Shirts</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="category-6">
            <label class="custom-control-label" for="category-6">Underwear</label>
          </div>
        </div>
        <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
        <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Size</h6>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="filter-size-1">
            <label class="custom-control-label" for="filter-size-1">X-Small</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="filter-size-2">
            <label class="custom-control-label" for="filter-size-2">Small</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="filter-size-3">
            <label class="custom-control-label" for="filter-size-3">Medium</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="filter-size-4">
            <label class="custom-control-label" for="filter-size-4">Large</label>
          </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="filter-size-5">
            <label class="custom-control-label" for="filter-size-5">X-Large</label>
          </div>
        </div>
        <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
        <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Price</h6>
        <div class="price-filter-control d-flex">
          <input type="number" class="form-control mb-2 me-2" value="50" id="price-min-control">
          <input type="number" class="form-control mb-2" value="50" id="price-min-control">
        </div>
        <input id="ex2" type="text" class="slider " value="50,150" data-slider-min="10" data-slider-max="200"
          data-slider-step="5" data-slider-value="[50,150]" data-value="50,150" style="display: none;">
        <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
        <a href="#" class="btn btn-lg btn-primary w-100">Update Results</a>
      </div>
  
    </div>
  </div>
  
{% endblock main_content %}