{% extends 'layout.html' %} {% load static %} {% block title %}
<title>WishList</title>
{% endblock title %} {% block css_files %}

<link rel="stylesheet" href="{% static '/css/main.css' %}" />

{% endblock css_files %}

{% block main_content %}

<section class="mx-3 mx-sm-3 mx-xxl-5  py-5 px-xxl-5">
    <h1 class="text-center py-4 fw-bolder text-danger">Explore your wishlist <i class="fa fa-heart"></i></h1>
    <div class="row row-cols-xxl-5 gy-3 ">
        {% for product in products %}
        <div class=" col col-6 col-md-4 col-lg-3  ">
            <div class=" position-relative card bg-white rounded-9 p-4 liked-card bg-opacity-50 overflow-hidden">
                <div class=" card-img-top d-flex justify-content-center position-relative">
                    <img src="{{ product.picture.url }}"
                        class="card-image w-100 shadow-2-strong rounded-9" alt="Fissure in Sandstone" />
                </div>


                <span class="w-25 h-25 bg-primary position-absolute rounded-circle top-0  start-0 blur" style="z-index: -1;"></span>
                <div class=" text-center mt-1 w-100">

                    <h5 class="card-title w-100 fw-bolder text-nowrap ">{{ product.name }} </h5>
                    <!-- <span class="w-100"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                            class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                            class="fas fa-star-half-alt"></i></span> -->
                    <span class=""><i class="fas fa-eye text-black-50"></i> {{product.view_count }}</span>

                    <div class="d-flex justify-content-between p-1 gap-1 mt-2">
                        
                        <a href="{% url 'removefromlikelist' product.id %}"
                            class="btn btn-outline-danger border-4 p-1 d-flex align-items-center justify-content-center w-50 ">remove</a>
                        <a href="/product/details/{{product.id}}"
                            class="btn btn-outline-primary border-4 p-1 d-flex align-items-center justify-content-center w-50 ">view</a>
                    </div>
                </div>
            </div>


        </div>
        {% endfor %}
        
        

        
        

    </div>
</section>

{% endblock main_content %}
{% block js_files %}{% endblock js_files %}