{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Password Reset Completed</title>
{% endblock%}


{% block main_content %}
<div class="" >
    <div class="container py-5 my-5 bg-white  border border-primary d-flex flex-column align-items-center col-lg-6 col-10 border-15">
        <img src="https://www.pngitem.com/pimgs/m/515-5154613_minions-birthday-clipart-hd-png-download.png" alt="">
        <div class="text-contents">
            <h1 class="M-logo">Password Reset Complete</h1>
            <p class="text-black-50">Your Password has been set! You may go ahead and login now</p>
        </div>
        <div class="col-md-2">
            <button class="profile-edit-btn btn text-white btn-primary"> <a href="/account/login/" class="text-white link-unstyled"> Login </a> </button>
        </div>
    </div>

</div>
{% endblock main_content %}