{% extends 'layout.html' %}
{% block title %}
<title>Password Reset Sent</title>
{% endblock%}
{% load static %}


{% block main_content %}
<div >
    <div class="container py-5 my-5  border border-warning">
        <h1 style="color:orange">Reset your password</h1>
        <p class="">We've emailed you instructions for setting your password.</p>
        <p class="">If you don't receive an email, please make sure you've entered the address you registered with.</p>

    </div>
</div>
{% endblock main_content %}