
{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Password Reset Form</title>
{% endblock%}

{% block main_content %}
 
<div class="" >
    <div class="container py-5 my-5 bg-white border-15 border border-primary col-lg-6 col-10 blur-back overflow-hidden position-relative shadow-5-soft ">

       
        
        <h1 class="h1 M-logo text-center pb-3">Reset your password </h1>
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}

         <div class="form-row row justify-content-center pt-5">
            <div class="form-group col-sm-9 col-md-8">
                {{form|crispy}}
            </div>
        </div> 
          


        <div class="btn-comtainer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-3 w-50"> Next </button>
        </div>
     </form>
     
     <span><img class="w-25 position-absolute top-0 end-0 d-none d-md-flex" src="https://cdn3d.iconscout.com/3d/premium/thumb/locker-password-4416191-3664013.png" alt=""></span>
     <span class="position-absolute top-0  me-5 m-auto end-0 fs-6"><i
                class="fas fa-circle text-primary ms-5"></i></span>
        <span class="position-absolute bottom-0  me-5 mb-5  end-0 fs-6 " style="z-index: -1;"><i
                class="fas fa-circle text-danger ms-5 mb-7  "></i></span>
        <span class="position-absolute bottom-0  fs-4 mb-3 "><i class="far fa-heart text-primary "
                style="transform: rotate(335deg);"></i></span>
        <span class="position-absolute bottom-0  end-0   me-4 fs-6 "><i class="fas fa-times text-danger "
                style="transform: rotate(75deg);"></i></span>
        <span class="position-absolute top-0  start-0 mb-5  ms-4 fs-5 "><i class="fas fa-times text-primary mb-10"
                style="transform: rotate(75deg);"></i></span>
        <span class="position-absolute bottom-50  end-0  me-4 fs-4 fa-flip-vertical "><i
                class="far fa-square text-primary fa-rotate-by" style="transform: rotate(75deg);"></i></span>
        <span class="position-absolute bottom-0  ms-5 m-auto mb-3 "><i
                class="fas fa-circle text-primary ms-5 "></i></span>
    </div>
</div>



{% endblock main_content %}