{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Password Reset Form</title>
{% endblock%}

{% block main_content %}
<div class="">
    <div class="container py-5 my-5  border border-warning blur-back">
        
        <h1 class="h1 text-warning text-center pb-3">Password Reset Form </h1>
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}

         <div class="form-row row justify-content-center pt-5">
            <div class="form-group col-sm-6 col-md-5">
                {{form.email | as_crispy_field}}
            </div>
        </div> 
          


        <div class="btn-comtainer d-flex justify-content-center">
        <button type="submit" class="btn btn-warning btn-lg"> Next </button>
        </div>
     </form>
    </div>
</div>



{% endblock main_content %} 

