{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Register</title>{% endblock title %}

{% block css_files %}

    <link rel="stylesheet" href="{% static '/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/register.css' %}">

    <style>
        .form-row {
            justify-content: center;
        }

        #hint_id_password1, #hint_id_password2 {
            display: none
        }
    </style>

    <script defer src="{% static '/javascript/register-login.js' %}"></script>

{% endblock css_files %}

{% block main_content %}

    <header class="mb-5" style="height: 100vh">
        <div class="reg-container container col-xl-10 col-xxl-8 px-4 py-3">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h2 class="display-5 fw-bold lh-1 mb-3">Enter the</h2>
                    <h1 class="display-4 fw-bold lh-1 mb-3">Megaplex World!</h1>
                    <p class="col-lg-10 fs-5">Free Registration for you! C'mon let's enter!</p>
                    <img src="{% static 'images/register_logo.png' %}" alt="" class="w-25 ">
                </div>
                <div class=" mx-auto col-lg-5 card shadow p-5" style="border-radius: 15px">
                    <h1 class="fs-3 text-center">Alien Registration</h1>
                    <form action="" class="p-5 p-md-0 pe-md-2" method="POST">
                        {% csrf_token %}
                        <div class="form-row mt-1" style="display:flex; justify-content:space-around">
                            <div class="form-group col-md-6 me-1">
                                {{ form.first_name | as_crispy_field }}
                            </div>
                            <div class="form-group  col-md-6">
                                {{ form.last_name | as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row mt-1">
                            <div class="form-group col-md-12">
                                {{ form.email | as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row mt-1">
                            <div class="form-group col-md-12">
                                {{ form.username | as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row mt-1">
                            <div class="form-group col-md-12">
                                {{ form.plan | as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row mt-1" style="display:flex; justify-content:space-around">
                            <div class="form-group col-md-6 me-1">
                                {{ form.password1 | as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.password2 | as_crispy_field }}
                            </div>
                        </div>
                        <button class="btn mt-3 w-100 btn-primary shadow">
                            Sign up
                        </button>
                    </form>
                    <div class="d-flex align-items-center gap-1 mt-3 text-danger">
                        <span class="line "></span>
                        <span class=" text-nowrap">or continue with</span>
                        <span class="line"></span>
                    </div>

                    <div class="d-flex gap-3 justify-content-center mt-3">

                        <a href="" class=" rounded-3 p-2 social-btn w-100  d-flex justify-content-center"><img
                                src="{% static 'images/fb.png' %}" alt="not available" class="w-50"></a>
                        <a href="" class=" rounded-3 p-2 social-btn w-100  d-flex justify-content-center"><img
                                src="{% static 'images/google.png' %}" alt="not available" class="w-50"></a>
                    </div>
                </div>
            </div>

        </div>

    </header>
{% endblock main_content %}

{% block js_files %}{% endblock js_files %}