<div class="p-3 text-center bg-white  position-sticky top-0">
    <div class="container border-bottom">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
          <a href="#!" class="ms-md-2">
            <h2><a class="text-danger" href="/admins/dashboard">Superuser</a></h2>
          </a>
        </div>

        <div class="col-md-7">
          <a href="/admins/send_notification" type="button" class="btn btn-light me-3" data-mdb-ripple-color="dark">Notification</a>
          <a  href="/admins/add_category" type="button" class="btn btn-light me-3" data-mdb-ripple-color="dark">Category</a>
          <a  href="/admins/add_subcategory" type="button" class="btn btn-light me-3" data-mdb-ripple-color="dark">SubCategory</a>
        </div>

        <div class="col-md-1 d-flex justify-content-center justify-content-md-end align-items-center">

            <!-- User -->
            <div class="dropdown">
              <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                  alt="" loading="lazy" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">My profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" d-flex justify-content-center  p-3 m-auto position-sticky top-0 gap-4 text-black" style="z-index: 100;">
</div>
  </div>


  <!-- Jumbotron -->