{% load static %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background: rgb(255, 255, 255)">
    <div class="container">
        <a class="navbar-brand" href="/" style="width: 10%">
            <img src="{% static 'images/logo1.PNG' %}" alt="" class="" width="98%" />
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <ul class="navbar-nav flex-row d-none d-md-flex">
                    <li class="nav-item me-3 me-lg-1 active">
                        <a class="nav-link" href="/">
                            <span><i class="fas fa-home fa-lg"></i></span>
                            Home
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="/product/explore">
                            <span><i class="fas fa-globe fa-lg"></i></span>
                            Explore
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="/category">
                            <span><i class="fas fa-heart-rate fa-lg"></i></span>
                            Category
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="#">
                            <span><i class="fas fa-comments-alt fa-lg"></i></span>
                            Join Room
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="/dashboard/wishlist/">
                            <span><i class="fas fa-heart fa-lg"></i></span>
                            <span class="badge rounded-pill badge-notification bg-danger " id="like-badge">{{ request.user.product_likes.all.count }}</span>
                        </a>
                    </li>
                </ul>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="#"><i
                            class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-globe"></i> Explore</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/category" id="navbarDropdownMenuLink" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-asterisk" aria-hidden="true"></i> Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Auto-Mobiles</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Fashion</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Brand New</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-comments"></i> Room Chat</a>
                </li>

                {% endif %}

            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav flex-row">
                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link d-sm-flex align-items-sm-center" href="/dashboard/profile">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle" height="22"
                            alt="Black and White Portrait of a Man" loading="lazy" />
                        <strong class="d-none d-sm-block ms-1">{{ user.username }}</strong>
                    </a>
                </li>

                <li class="nav-item dropdown me-3 me-lg-1">
                    <a class="nav-link" role="button" aria-expanded="false" href="/chat">
                        <i class="fas fa-comments fa-lg"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">6</span>
                    </a>

                </li>

                <a class="nav-link notification dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-mdb-toggle="dropdown" aria-expanded="true">
                    <i class="fas fa-bell fa-lg"></i>
                    <span class="badge rounded-pill badge-notification bg-danger" id="notification-badge">0</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications-dropdown">
                    {% for i in notifications %}
                        <li class="dropdown-item">{{i.message}}</li>
                        <hr class="dropdown-divider">
                    {% endfor %}

                </ul>


                </li>
                <li class="nav-item dropdown me-3 me-lg-1">
                    <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-chevron-circle-down fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/dashboard/profile">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item fw-bold text-danger" href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <a href="/account/login" class="btn rounded-pill sign-in" type="button"> Sign in</a>
            {% endif %}

        </div>
    </div>

    <!-- <span class="position-absolute toggle-icon me-md-3">
        <i class="fas fa-sun pointer-event" id="theme-toggle"></i>
    </span> -->
</nav>