{% load static %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background: aliceblue">
  <div class="container">
    <a class="navbar-brand" href="/" style="width: 10%">
        <img src="{% static 'images/logo1.PNG' %}" alt="" class="" width="98%"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="#"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-globe"></i> Explore</a>
        </li>
              <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          Category
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Auto-Mobiles</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Fashion</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Brand New</a>
          </li>
        </ul>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-comments"></i> Public Chat</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/faq"> FAQ's</a>
        </li>
      </ul>
      <a href="/account/login" class="btn rounded-pill sign-in" type="button"> Sign in</a>
    </div>
  </div>

<span class="position-absolute toggle-icon me-md-3">
    <i class="fas fa-sun pointer-event" id="theme-toggle"></i>
</span>
</nav>
