
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
    <!-- ===========================fontawesome-cdn================================== -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>error page</title>
    <style>
    .green-gradient{
        background-image: linear-gradient(to right , #05be52, #09bf54, #0dbf57, #10c059, #13c05b, #1ac560, #20cb66, #25d06b, #2edc75, #35e77e, #3df388, #44ff92);
  background-clip: text !important;
  -webkit-background-clip: text;
  background-size: cover !important;
  color: transparent;
    }
</style>

</head>
<body class="bg-black">

    <h1 class="text-center green-gradient fw-bolder">Something Went Wrong</h1>


<section class="d-flex  justify-content-center my-5 ">

    <div class="error-img     border-black col-lg-5 col-sm-9  ">
        <img src="https://miro.medium.com/max/1838/1*zE2qnVTJehut7B8P2aMn3A.gif" class="   "  alt="">
    </div>
</section>
    
</body>
</html>




