{% extends 'admin_layout.html' %} {% load static %} {% load crispy_forms_tags %}
{% load extras %}
{% block title %}
<title>Product Categories</title>
{% endblock title %} {% block css_files %}

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/homepage.css' %}" />
<link rel="stylesheet" href="{% static '/css/profile.css' %}" />

<style>
    table td {
word-wrap:break-word;
white-space: normal;
}

    table th{
word-wrap:break-word;
white-space: normal;
}
</style>

{% endblock css_files %} {% block main_content %}


<section class="col-lg-10  col-11 my-5 m-auto shadow-5-soft p-3  ">
    <h1 class="text-center">Category</h1>


    <!-- Button trigger modal -->
    <div class="d-flex  w-100 ">
        <span type="button" class=" ms-auto my-2 text-success  " data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            <i class="fas fa-plus"></i> Category
        </span>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class=" border-0 d-flex justify-content-end ">

                    <button type="button" class="btn-close me-1 mt-1" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class=" m-auto  p-5 ">
                        <h1 class="text-center">Add category</h1>
                        <form method = "POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="add">
                            <!-- Email input -->
                                {{ add_form.name | as_crispy_field }}
                                {{ add_form.picture | as_crispy_field }}

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Add</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


         <!-- Section: Table -->
    <section class="mb-5  m-auto">
        <div class=" ">
            <table class="
                    table table-borderless table-hover
                    
                   
                
                    ">
                <thead class="overflow-hidden m-auto">
                    <tr class="row  row-cols-4 w-100">
                        <th class="col-lg-3 col-4 col-md-4 ">Category</th>
                        <th class="col-lg-5 col-5 col-sm-4 col-md-5 ">SubCategories</th>
                        <th class="col-lg-2   d-none d-lg-flex ">No of products</th>
                      
                        <th class="col-lg-2 col-3 ">Actions</th>
                    </tr>
                </thead>
                <tbody class="m-auto">
                  {% for c in category %}
                    <tr class="text-white row  row-cols-4 ">
                        <td class="col-lg-3 col-4 col-md-4">
                            <div class="d-flex align-items-center">
                                <img src="{{c.picture.url}}" alt="" id="imag"
                                <img src="{{c.picture.url}}" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle d-none d-lg-flex" />
                                <div class=" ms-lg-1 ">
                                    <p class="fw-bold mb-1 text-dark" id="name">{{c.name}}</p>
                                 
                                </div>
                            </div>
                        </td>
                        <td class=" col-lg-5 col-sm-4 col-md-5 col-5 text-wrap " style="white-space:normal;">
                            
                            <p class="w-100  text-black-50 p-0   mb-0" style="white-space:normal;">
                              {% for c in c.id|categories %}

                              {{c.name}},

                              {% endfor %}
                            
                            </p>
                           
                        </td>
                        <td class="col-lg-2 d-none d-lg-inline">
                            <span class="badge badge-success rounded-pill  ">{{c.id|Product_count}}</span>
                        </td>
                      
                        <td class="col-lg-2 col-2   ">
                            <a href="/admins/deleteCat/{{c.id}}">
                            <button type="button" class="btn btn-danger btn-sm btn-rounded">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </a>
                            <button type="button" class="btn btn-success btn-sm btn-rounded mt-1 mt-md-0  edit-btn" data-mdb-target="#modal1" data-mdb-toggle="modal" data-id ="{{c.id}}" data-name ="{{c.name}}" data-image ="{{c.picture.url}}">
                               <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>


         
                  
                  {% endfor %}

                               <!-- Modal -->
          <div class="modal fade edit-modal" tabindex="-1" id="modal1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class=" border-0 d-flex justify-content-end ">

                  <button type="button" class="btn-close me-1 mt-1" data-mdb-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class=" m-auto  py-5 ">
                    <h1 class="text-center">Edit category</h1>
                    <form  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                      <!-- Email input -->
                      <input type="hidden" name="type" value="edit">
                      <div>
                          current-image: <img id="category_bg_img" src="https://cdn.dribbble.com/users/1279240/screenshots/6858359/shot_pablo_vargas_dribbble_4x.png?compress=1&resize=400x300" alt="" style="height: 200px; width: 200px; object-fit: cover;">
                      </div>

                      <input type="text" id="category_id" name="category_id"  hidden>
                    
                    <div class="form-group mt-4 mb-4">
                        <label for="category_image">File</label>
                        <input type="file" class="form-control" id="category_image" name="category_image"
                            aria-describedby="category_image">
                    </div>

                    
                      <div class="form-outline mb-4">
                        <input type="text" id="category_name" class="form-control" name="category_name" />
                        <label class="form-label" for="category_name">category</label>
                      </div>




                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block">Edit</button>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
                   
                </tbody>
            </table>
        </div>
    </section>
    <!-- Section: Table -->
</section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class=" border-0 d-flex justify-content-end ">

                    <button type="button" class="btn-close me-1 mt-1" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class=" m-auto  p-5 ">
                        <h1 class="text-center">Edit category</h1>
                        <form method = "POST">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="add">
                            <!-- Email input -->
                                {{ add_form.name | as_crispy_field }}
                                {{ add_form.picture | as_crispy_field }}

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Add</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script>
    function clickFunction(c) {
        console.log({{c.name}})
}

</script>

{% endblock main_content %}

{% block js_files %}

<script src="{% static 'javascript/modal.js' %}"></script>
{% endblock js_files %}