{% extends 'admin_layout.html' %} {% load static %} {% block title %}
<title>profile</title>
{% endblock title %} {% block css_files %}

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/homepage.css' %}" />
<link rel="stylesheet" href="{% static '/css/profile.css' %}" />

{% endblock css_files %} {% block main_content %}


<!-- Main content -->
<div class="container py-5">
    <!-- Section: Summary -->
    <section class="mb-5">
        <div class="row gx-xl-5">
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow-3-strong
                  rounded-6
                  text-reset
                  ripple
                  " href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="rounded-4 fs-1">
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Users</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{users_count}}</span>
                            <small class="text-success text-sm"><i class="fas fa-arrow-up fa-sm me-1"></i>13.48%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow
                  rounded-6
                  text-reset
                  ripple
                  " href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="fs-1 rounded-4">
                        <i class="fa fa-eye"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Product views</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{view_count}}</span>
                            <small class="text-success text-sm"><i class="fas fa-arrow-up fa-sm me-1"></i>23.58%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow
                  rounded-6
                  text-reset
                  ripple
                  " href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="fs-1 rounded-4">
                        <i class="fa fa-clock"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Total Active Products</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{active_product_count}}</span>
                            <small class="text-danger text-sm"><i
                                    class="fas fa-arrow-down fa-sm me-1"></i>23,58%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="
                  d-flex
                  align-items-center
                  p-4
                  bg-glass
                  shadow
                  rounded-6
                  text-reset
                  ripple
                  " href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="fs-1 rounded-4">
                        <i class="fa fa-heart-rate"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Total Sold Products</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{inactive_product_count}}</span>
                            <small class="text-success text-sm"><i
                                    class="fas fa-arrow-down fa-sm me-1"></i>23,58%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>
        </div>
    </section>
    <!-- Section: Summary -->

    <!-- Section: Table -->
    <section class="mb-5">
        <div class="table-responsive bg-glass shadow rounded-6">
            <table class="
                    table table-borderless table-hover
                    align-middle
                    mb-0
                
                    ">
                <thead class="">
                    <tr>
                        <th>Name</th>
                        <th>Customer type</th>
                        <th>Account</th>
                        <th>Last Access</th>
                        <th>Status</th>
                    </tr>
                </thead>
                {% for user in  users %}

               
                <tbody class="">
                    <tr class="text-white">
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{user.profile.profile_pic.url}}" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1 text-black">{{user.profile.firstname}} {{user.profile.lastname}}</p>
                                    <p class="text-muted mb-0">{{user.email}}</p>
                            </div>
                        </td>
                        <td>
                            <p class="fw-bold mb-1 text-black">{{user.profile.plan}}</p>
                            <p class="text-muted mb-0">City: {{user.profile.city}}</p>
                        </td>
                        <td>
                            {% if user.is_active %}
                            <span class="badge badge-success rounded-pill"> <a href="/admins/deactivate/{{user.id}}" class="unlink">Active</a></span>
                            {% else %}
                            <span class="badge badge-danger rounded-pill"><a href="/admins/activate/{{user.id}}" class="unlink">Inactive</a></span>
                            {% endif %}

                        </td>
                        <td class="text-black">{{user.last_login}}</td>
                        <td>
                            <div class="form-check form-switch">
                                {% if user.profile.verified == True %}
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault" checked onclick=unverify("{{user.id}}") />
                                    <label class="form-check-label text-black" for="flexSwitchCheckDefault">Verified</label>
                                
                                {% else %}
                                    <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault" onclick=verify("{{user.id}}") />
                                    <label class="form-check-label text-black" for="flexSwitchCheckDefault">Unverified</label>
                                {% endif %}
                                
                            </div>

                        </td>
                    </tr>


                </tbody>

                {% endfor %}
            </table>
        </div>
    </section>
    <!-- Section: Table -->

    <!-- Section: Visualization -->
    <section class="">
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                <!-- Card -->
                <div class="bg-glass shadow-4-strong rounded-6 h-100">
                    <!-- Card header -->
                    <div class="p-4 border-bottom">
                        <div class="row align-items-center">
                            <div class="col-12 mb-8 mb-md-0">
                                <h1 class="text-center mb-2">Top Sellers</h1>
 
                                    <table class="
                    table table-borderless table-hover
                    align-middle
                    mb-0
                    ">
                                        <thead class="">
                                            <tr>
                                                <th >Name</th>
                                                <th style="text-align:center">Items Sold</th>
                                            </tr>
                                        </thead>
                                        {% for user in  top_seller %}

                                        <tbody class="">
                                            <tr class="text-white">
                                                <td >
                                                    <p class="fw-bold mb-1 text-black">{{user.firstname}}
                                                        {{user.lastname}}</p>
                                                </td>
                                                <td style="text-align:center">
                                                    <span
                                                        class="badge badge-success rounded-pill">{{user.product_sold}}</span>
                                                </td>
                                            </tr>


                                        </tbody>
                                        {% endfor %}
                                    </table>
                            </div>

                            <div class="col-12 mb-8 mb-md-0 text-end">
                                <a class="btn btn-outline-white btn-rounded" href="#" role="button">Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card header -->

                    <!-- Card body -->
                    <!-- Card body -->
                </div>
                <!-- Card -->
            </div>

            <div class="col-lg-6 mb-4 mb-lg-0">
                <!-- Card -->
                <div class="bg-glass shadow-4-strong rounded-6">
                    <!-- Card header -->
                    <div class="p-4 border-bottom">
                        <div class="row align-items-center">
                            <div class="col-12 mb-8 mb-md-0">
                                <h1 class="text-center mb-2">Top Products</h1>
                                 <table class="
                    table table-borderless table-hover
                    align-middle
                    mb-0
                    ">
                                        <thead class="">
                                            <tr>
                                                <th >Product Name</th>
                                                <th style="text-align:center">Total Views</th>
                                            </tr>
                                        </thead>
                                        {% for pro in  top_products %}

                                        <tbody class="">
                                            <tr class="text-white">
                                                <td >
                                                    <p class="fw-bold mb-1 text-black">{{pro.name}}</p>
                                                </td>
                                                <td style="text-align:center">
                                                    <span
                                                        class="badge badge-success rounded-pill">{{pro.view_count}}</span>
                                                </td>
                                            </tr>


                                        </tbody>
                                        {% endfor %}
                                    </table>
                            </div>

                        </div>
                    </div>
                    <!-- Card header -->

                    <!-- Card body -->
                    <div class="p-4 pb-0">
                        <div class="vector-map" id="my-map"></div>
                    </div>
                    <!-- Card body -->
                </div>
                <!-- Card -->
            </div>
        </div>
    </section>
    <!-- Section: Visualization -->
</div>
<!-- Main content -->

<script>
    function unverify(id){
        location.href = '/admins/unverify/'+id
    }
    function verify(id){
        location.href = '/admins/verify/'+id
    }
</script>


{% endblock main_content %}